html,
body {
  background: #000;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #101010;
  background: linear-gradient(to bottom, #161616, #000);
  background-attachment: fixed;
  color: white;
  min-height: 100vh;
}

h1 {
  margin: 0 0 0.5rem;
  font-size: 2rem;
  padding-top: 2.4rem;
  line-height: 1;
}
h2 {
  margin: 1rem 0 0;
  font-size: 3rem;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration-style: dotted;
}

header {
  text-align: center;
}
header p {
  font-size: 0.8rem;
}

nav {
  text-align: center;
  margin-top: 1rem;
}

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #262626;
  color: white;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  border: none;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

@keyframes delayed-entry {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.big-full-button {
  display: block;
  width: 100%;
  padding: 30px 60px;
  font-size: 1rem;
  margin-top: 30px;
  opacity: 0;
  animation: delayed-entry 150ms ease-in-out 500ms forwards;
}

main {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 4rem;
}

@media (min-width: 660px) {
  main {
    width: 630px;
  }
  h1 {
    font-size: 4rem;
    padding-top: 4rem;
  }
}

@media (min-width: 990px) {
  main {
    width: 960px;
  }
}

@media (min-width: 1320px) {
  main {
    width: 1290px;
  }
}
